
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

header{
  z-index: 100001 !important;
}
body{

  font-family: 'Roboto', sans-serif;
}
.outLineBtn{
  @apply px-4 py-2 bg-transparent border border-primary text-black rounded hover:bg-primary hover:text-secondary transition-all duration-300;
}
.skillcard:nth-child(1){
  border-bottom: 4px solid blue;
}